<!DOCTYPE html>
<html lang="en">
<head>
    <link href="src/main/resources/templates/static/css/style.css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<header>
    <img width="170" height="80" src="src/main/resources/templates/images/koshantra_logo_header.jpeg" style="padding-left: 5%;"/>
    <hr style="border-color: lightblue; border-left-width: 0; border-right-width: 0; border-top-width: 0; border-bottom-width: 2px; "/>
</header>
    <h1>Disclaimer</h1>
    <p>
        This document is prepared to help you make important decisions regarding your financial future. Before reviewing the data,
        alternatives and options presented in this financial report, please note the inherent limitations associated with this
        information. The content of this report is based on the information provided by you and on certain assumptions as stated
        in the report. The suggested financial plan to achieve your financial goals may not be accurate or yield expected results
        if the information provided by you is incorrect or any of the assumptions made are rendered invalid due to uncontrollable
        external forces like change in interest rate, change in government policies, etc.
        <br/><br/>
        You are under no obligation to follow, in whole or in part any of the alternatives presented in this report or to purchase
        investment, insurance or other financial products or services through your advisor. Koshantra Financials cannot guarantee
        the accuracy of the information or success of the recommendations that it may provide. However, the advice is based upon
        such investigations and research as Koshantra Financials seems reasonable, and that it is not liable for errors of the fact
        or judgement as long as it acts in good faith.
        <br/><br/>
        You also need to keep in mind that past performance is no guarantee of future returns. It is advisable your risk tolerance
        should be re-tested every two or three years as it may change slowly with age. We cannot support specific decision you make.
        We are not privy to all the other information that effective decision-making requires.
    </p>
    <img width="300" height="150" src="src/main/resources/templates/images/company_card.jpeg" style="vertical-align: bottom; padding-left: 50%; padding-top: 20%;"/>
    <footer>
        <hr style="border-color: lightblue; border-left-width: 0; border-right-width: 0; border-top-width: 0; border-bottom-width: 2px; padding-bottom: 40px; padding-top: 20px;"/>
        <p style="color: black; font-size: smaller">
            TERMS &#38; CONDITIONS:<br/>
            THE CONTENTS OF THIS PAGE ARE SOLELY BASED ON THE INFORMATION PROVIDED BY YOU.
            <br/><br/>
            PREPARED BY &#169; KOSHANTRA CONSULTANCY LLP<br/>
            Reproduction in whole or part without prior written permission from Koshantra Consultancy LLP is prohibited.
        </p>
    </footer>
</body>
</html>