<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="src/main/resources/templates/static/css/style.css" rel="stylesheet"/>
    <style>
        table{
            background-color: antiquewhite;
        }
        /*@page {*/
        /*    @bottom-right {*/
        /*        content: "Page " counter(page) " of " counter(pages);*/
        /*    }*/
        /*}*/
    </style>
</head>
<body>
<hr style="border-color: lightblue; border-left-width: 0; border-right-width: 0; border-top-width: 0; border-bottom-width: 2px; padding-bottom: 5px; padding-top: 20px;"/>
<!--<hr/>-->
<h3 style="background-color: white; color: black; text-align: center;" th:text="'PREPARED FOR ' + ${client_name}"></h3>
<h2 style="background-color: white; color: red;" th:text="'FINANCIAL PLANNING REPORT'"></h2>
<h4 style="background-color: white; color: black; text-align: center;" th:text="'Assessment No. ' + ${ID}"></h4>
<hr style="border-color: lightblue; border-left-width: 0; border-right-width: 0; border-top-width: 0; border-bottom-width: 5px; padding-top: 10px; padding-bottom: 10px;"/>
<!--<hr/>-->
<img alt="LOGO" th:src="@{${logo}}" class="image-center" style="padding-top: 10px;" />
<!--<hr style="width: 100%; border: 2px lightblue; padding-top: 10px; padding-bottom: 10px;"/>-->
<hr style="border-color: lightblue; border-left-width: 0; border-right-width: 0; border-top-width: 0; border-bottom-width: 2px; padding-bottom: 40px; padding-top: 20px;"/>
<p style="color: cornflowerblue; font-size: smaller">
    TERMS &#38; CONDITIONS:<br/>
    THE CONTENTS OF THIS PAGE ARE SOLELY BASED ON THE INFORMATION PROVIDED BY YOU.
    <br/><br/>
    PREPARED BY &#169; KOSHANTRA CONSULTANCY LLP<br/>
    Reproduction in whole or part without prior written permission from Koshantra Consultancy LLP is prohibited.
</p>
</body>
</html>