<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="src/main/resources/templates/static/css/style.css" rel="stylesheet"/>
</head>
<body>
<h1>Your Financial Goals</h1>
<p>The first step in creating a financial plan is to identify your financial goals. You have mentioned the below financial goals for you and
your family:</p>
<br/><br/>
<p>Rupee sign: &#8377; &#x20B9;</p>
<table>
    <thead>
    <tr class="headings">
        <th th:each="header: ${financialGoalsColumns}" class="column-title">
            <span th:text="${header}"></span>
            <span th:if="${header == 'Future Cost' or header == 'Present Cost of Goal'}" th:utext="'('+${'&#8377; &#x20B9;'+'&nbsp;'}+')'" ></span>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr class="even pointer" th:each="row: ${financialGoalsData}" id="tablerow">
        <td th:each="header: ${financialGoalsColumns}" th:text="${row.get(header)}" />
    </tr>
    </tbody>
</table>
<!--<br/>-->
<!--<p>Identifying and prioritising your goals and the associated costs is the first step in your journey towards a financially secure future.</p>-->
<!--<br/>-->
<!--<p>Inflation is an important thing to understand here. The costs of goods and services, or in short inflation, has been on an uptrend-->
<!--over the last few years. Inflation decreases the purchasing power of the money. So you will need more amount of money for your goals at the time-->
<!--of their realization.</p>-->
</body>
</html>