<!DOCTYPE html>
<html lang="en">
<head>
    <link href="src/main/resources/templates/static/css/style.css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1>Scope of Comprehensive Financial Plan</h1>
    <img width="500" height="420" src="src/main/resources/templates/images/IMG_0965.PNG" style="vertical-align: middle; padding-left: 15%" /><br/>
    <span style="font-size:7px;color:blue;text-align: center">Source: Financial Planning Standards Board, https://www.fpsb.org/about-financial-planning/financial-planning-process/</span>
    <p>
    We would like to Thank You for providing us with the opportunity of charting your financial plan.
    <br/><br/>
    Our objective is to accurately assess your financial needs and to provide quality recommendations and ongoing service in accordance with those
    needs.
    <br/><br/>
    Based on the information provided by you through data collection sheet, a comprehensive financial plan has been developed for you which will provide
    you a guidance on your financial goals and objectives.
    <br/><br/>
    We assure you that the information we have gathered from you will be retained in a secure location in the confines of our office and will
    remain confidential at all times.
    <br/><br/>
    Taking every aspect into consideration, this report will give you an insight into your financial goals and a suitable action plan for them.
    <br/><br/>
    Please let us know if you require any clarifications and/or modifications in the plan and we shall proceed accordingly.
</p>
<footer>
    <hr style="border-color: lightblue; border-left-width: 0; border-right-width: 0; border-top-width: 0; border-bottom-width: 2px; padding-bottom: 40px; padding-top: 20px;"/>
    <p style="color: black; font-size: smaller">
        TERMS &#38; CONDITIONS:<br/>
        THE CONTENTS OF THIS PAGE ARE SOLELY BASED ON THE INFORMATION PROVIDED BY YOU.
        <br/><br/>
        PREPARED BY &#169; KOSHANTRA CONSULTANCY LLP<br/>
        Reproduction in whole or part without prior written permission from Koshantra Consultancy LLP is prohibited.
    </p>
</footer>
</body>
</html>