<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="src/main/resources/templates/static/css/style.css" rel="stylesheet"/>
    <style>
        table{
            background-color: antiquewhite;
        }
        /*@page {*/
        /*    @bottom-right {*/
        /*        content: "Page " counter(page) " of " counter(pages);*/
        /*    }*/
        /*}*/
    </style>
</head>
<body>
<h1 style="text-align: center">Index</h1>
<hr>
<br/><br/>
<h5>1. Personal Information</h5>
<h5>2. Assessment of Current Financial Status</h5>
<h5>3. Cash Flow Management</h5>
<h5>4. Your Financial Goals</h5>
<h5>5. Asset Allocation</h5>
<h5>6. Your Networth</h5>
<h5>7. Recommended Action Plan</h5>
<h5>8. Disclaimer</h5>
</body>
</html>